* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1c1b1b;
}

body {
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.clearfix:arter {
    content: '';
    display: block;
    clear: both;
}

nav {
    width: 500px;
    padding: 12px;
    background: #fdf5e6;
    margin: 10px auto;
    height: auto;
    padding: 20px 0;
}

.navBarBox {
    display: flex;
    flex-direction: row;
    height: 50px;
    line-height: 50px;
}

.navBarBox li {
    width: 110px;
    margin-left: 20px;
    text-align: center;
}

.navBarBox li:nth-child(1) {
    margin-left: 0;
}

.navBarBox li ul {
    padding: 8px;
    background: #fff;
    white-space: nowrap;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    position: relative;
}

.navBarBox li ul li {
    margin-left: 0;
    width: auto;
}

.topNavBar>ul>li>ul {
    display: none;
}

.topNavBar>ul>li.at>ul {
    display: block;
}

.cli_div {
    margin: 1.25rem auto;
    width: 31.25rem;
    padding: .625rem;
}

#clickbtn {
    display: block;
    width: 18.75rem;
    cursor: pointer;
    height: 1.25rem;
    border: solid .0625rem #CCC;
    margin: 0 auto;
}

#menu {
    display: none;
    width: 18.75rem;
    height: 6.25rem;
    border: solid .0625rem #CCC;
    margin: 0 auto;
}

.changeBg {
    margin: .625rem auto;
    padding: 0 1.25rem;
    width: 15.625rem;
}

#img_box {
    width: 49.375rem;
    height: 21.25rem;
    margin: 0 auto;
    position: relative;
}

#pic {
    width: 100%;
    height: 21.25rem;
}

.img_btn {
    width: 3.125rem;
    height: 6.25rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 2.5rem;
    text-align: center;
    line-height: 6.25rem;
    position: absolute;
    top: 12.5rem;
    display: none;
}

#left {
    left: 0;
}

#right {
    right: 0;
}

#ul_box {
    position: absolute;
    bottom: 1.25rem;
    left: 14.375rem;
    display: flex;
    flex-direction: row;
}

#ul_box li {
    width: 1.25rem;
    height: 1.25rem;
    margin-left: .625rem;
    background-color: #aaa;
    text-align: center;
    line-height: 1.25rem;
    border-radius: 50%;
    cursor: pointer;
}

.main {
    width: 75rem;
    height: auto;
    margin: 3.125rem auto;
    overflow: hidden;
}

.nav {
    width: 75rem;
    height: 5rem;
}

.nav ul {
    display: flex;
    flex-direction: row;
}

.nav ul li {
    width: 25%;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    cursor: pointer;
}

.changeColor {
    background: #ffcc00;
    border-radius: 5px;
}

.banner {
    width: 75rem;
    height: 28.75rem;
    overflow: hidden;
}

.banner-slide {
    width: 100%;
    height: 28.75rem;
}

.container {
    position: relative;
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin: 50px auto;
}

.rollList {
    position: absolute;
    z-index: 99;
    width: 4200px;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.rollList img {
    width: 600px;
    height: 400px;
}

.clibutton {
    position: absolute;
    left: 250px;
    bottom: 20px;
    z-index: 999;
    height: 10px;
    width: 150px;
    display: flex;
    flex-direction: row;
}

.clibutton span {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #333;
    cursor: pointer;
    line-height: 20px;
    color: #fff;
}

.clibutton .on {
    background: #f88a8a;
}

.arrow {
    position: absolute;
    top: 180px;
    z-index: 999;
    display: none;
    width: 40px;
    height: 40px;
    font-size: 36px;
    font-weight: bold;
    line-height: 39px;
    text-align: center;
    color: #fff;
    background: rgba(0, 0, 0, .3);
    cursor: pointer;
}

.arrow:hover {
    background: rgba(0, 0, 0, .7);
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

.container:hover .arrow {
    display: block;
}

.tab {
    width: 31.25rem;
    height: auto;
    margin: 30px auto;
}

#tab_menu,
#tab_menu ul {
    width: 100%;
    height: 3rem;
    line-height: 3rem;
}

#tab_menu ul {
    border: 1px solid #f88a8a;
}

#tab_menu li {
    display: inline;
    width: 15%;
    padding: 15px;
    cursor: pointer;
}

.act {
    background: #ffcc92;
}

#tab_menu li:hover {
    background: #019cbd;
}

.c_tab {
    height: 18.75rem;
    border: 1px solid #9c9c9c;
}

.roll_box {
    width: 44.375rem;
    height: 6.75rem;
    margin: 3.125rem auto;
    position: relative;
    overflow: hidden;
}

.u_roll {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
}

.u_roll li {
    width: 10.625rem;
    height: 6.75rem;
    margin-left: .625rem;
    cursor: pointer;
}

.u_roll li img {
    width: 100%;
    height: 6.75rem;
}

.ii_roll {
    width: 43.75rem;
    height: 8.5rem;
    margin: 3.125rem auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.ulroll,
.rollt {
    display: flex;
    flex-direction: row;
}

.ulroll li,
.rollt li {
    width: 11.25rem;
    height: 8.5rem;
    margin-left: .625rem;
    cursor: pointer;
}

.ulroll li img,
.rollt li img {
    width: 100%;
    height: 8.5rem;
}

.arr_div {
    width: 31.25rem;
    height: 15.625rem;
    margin: 3.125rem auto;
}

#arrimg {
    position: relative;
    left: 0.25rem;
    top: -0.125rem;
    width: 100%;
    height: 15.625rem;
}

.arr_img {
    width: 100%;
    height: 15.625rem;
}

.top {
    position: fixed;
    padding: 10px;
    width: 20px;
    border: 1px solid #000;
    box-shadow: 0 0 2px #333;
    right: 20px;
    bottom: 20px;
}

.top:hover {
    cursor: pointer;
}

.alert_win div {
    display: none;
}

.alert_win .win {
    display: block;
}