* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1c1b1b;
}

body {
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.cli_div {
    margin: 1.25rem auto;
    width: 31.25rem;
    padding: .625rem;
}

#clickbtn {
    display: block;
    width: 18.75rem;
    cursor: pointer;
    height: 1.25rem;
    border: solid .0625rem #CCC;
    margin: 0 auto;
}

#menu {
    display: none;
    width: 18.75rem;
    height: 6.25rem;
    border: solid .0625rem #CCC;
    margin: 0 auto;
}

.changeBg{
    margin:.625rem auto;
    padding: 0 1.25rem;
    width:15.625rem;
}