* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1c1b1b;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#clickbtn {
    display: block;
    width: 18.75rem;
    cursor: pointer;
    height: 1.25rem;
    border: solid .0625rem #CCC;
}

#menu {
    display: none;
    width: 18.75rem;
    height: 6.25rem;
    border: solid .0625rem #CCC;
}