html,
body {
    font-size: 14px;
    font-family: "微软雅黑", Helvetica, Tahoma, Arial, sans-serif;
    color: #000;
    background-color: #30333F;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

.cf:before,
.cf:after {
    display: table;
    content: "";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

canvas {
    position: fixed;
    top: 0px;
}

.home {
    width: 1060px;
    height: auto;
    background: #fff;
    margin: 20px auto;
    z-index: 999;
    position: absolute;
    left: 0;
    right: 0;
    padding: 20px;
}

.demo {
    overflow: hidden;
    height: 200px;
    width: 250px;
    border: 1px solid #6699cc;
    font-size: 14px;
    color: #336699;
    line-height: 22px;
    text-align: left;
    padding: 10px;
}