html,
body {
    font-size: 14px;
    font-family: "微软雅黑", Helvetica, Tahoma, Arial, sans-serif;
    color: #000;
    background-color: #30333F;
    margin: 0;
    padding: 0;
}

img {
    border: 0;
}

.cf:before,
.cf:after {
    display: table;
    content: "";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

canvas {
    position: fixed;
    top: 0px;
}

.home {
    width: 1100px;
    height: 3000px;
    background: #fff;
    margin: 20px auto;
    z-index: 999;
    position: absolute;
    left: 0;
    right: 0;
}