* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: '微软雅黑';
    font-size: 14px;
    color: #333;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}

.number_one {
    width: 300px;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #356dec;
}

.cite {
    display: none;
}