* {
    margin: 0;
    padding: 0;
}

#mask {
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#layer_box {
    width: auto;
    height: auto;
    background-color: #fff;
    position: absolute;
    z-index: 888;
    left: 200px;
    top: 250px;
    text-align: center;
    padding: 4px;
    border-radius: 4px;
}

#close {
    width: 50px;
    height: 50px;
    background: url(close.png) no-repeat top right;
    background-size: 30px 30px;
    -moz-background-size: 30px 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 999;
}

#close:hover {
    cursor: pointer;
}