* {
    margin: 0;
    padding: 0;
    --imageWidth: 400px;
    --arrowWidth: 100px;
    --height: 200px;
}

a,
li {
    text-decoration: none;
    list-style: none;
}

.clear {
    clear: both;
}

#banner {
    width: calc(var(--imageWidth) + var(--arrowWidth)*2);
}

#box {
    position: relative;
    width: var(--imageWidth);
    height: var(--height);
    overflow: hidden;
}

#multi-circles {
    position: absolute;
    right: 30px;
    bottom: 10px;
    z-index: 2;
}

#multi-circles li {
    float: left;
    margin-right: 15px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(240, 240, 240);
}

#multi-images {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    /* width: calc(var(--imageWidth)*5); */
    width: 2000px;
    height: var(--height);
    transition: 1s;
}

#multi-images img {
    float: left;
    width: var(--imageWidth);
    height: var(--height);
}

#arrow-right,
#arrow-left {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    height: 40px;
    z-index: 3;
    display: none;
}

.wheel_body {
    overflow: hidden;
    height: 400px;
    width: 1100px;
    margin: 20px auto;
}

.move_box {
    margin: 0 auto;
    width: 1100px;
    height: 335px;
    overflow: hidden
}

.move_box_tab {
    height: 335px;
}

.btn_box {
    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
}

.btn_box button {
    border: none;
    background: #d9d9d9;
    opacity: 0.3;
    width: 20px;
    height: 20px;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* .move_btn {
    display: none;
} */